<body> 
        < a href = "projet_web_script-jcdg.html"> 
</body>
<style>
        body {
            font-family: Palatino;
            background-color: #98FB98;
            margin: 0;
            padding: 20px;
        }

        h1 {
            text-align: center;
            color: #C0C0C0;
        }

        .question {
            margin-bottom: 10px;
            font-weight: bold;
        }

        .options {
            margin-left: 20px;
        }

        .option {
            margin-bottom: 5px;
        }

        .result {
            margin-top: 10px;
            font-weight: bold, italics;
        }
    </style>

