body {
    font-family: Palatino;
    font-size: 30pt;
    color: white; 
    background-color: #C0C0C0;
    margin: 50;
    padding: 20px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



